<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>972030076740-rs0867fkvq642mse1u6o64p8mn82j4sq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972030076740-rs0867fkvq642mse1u6o64p8mn82j4sq</string>
	<key>API_KEY</key>
	<string>AIzaSyA_Rvf6fdWZLPLwGlqkwSvbzlZpt1Rk57c</string>
	<key>GCM_SENDER_ID</key>
	<string>972030076740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Test.WeatherSample</string>
	<key>PROJECT_ID</key>
	<string>weathersample-d1222</string>
	<key>STORAGE_BUCKET</key>
	<string>weathersample-d1222.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972030076740:ios:8549f2d5bc9bc510241911</string>
	<key>DATABASE_URL</key>
	<string>https://weathersample-d1222.firebaseio.com</string>
</dict>
</plist>